@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

body {
  background-color: #CEB0B0;
}

.card {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 50%;
  background-color:#f9f8f6;
  margin: auto;
  text-align: center;
  padding: 1em;
}

button {
  background-color: #ceb0b0 ;
  margin-top: 10px;
}

h1 {
  color: #24110f;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
}
h2 {
  color: #d8d2c6;
  font-family: 'Raleway', sans-serif;
}


label {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:#82533f;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}