.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    margin: auto;
    text-align: center;
    padding: 1em;
    transition: opacity 1s;
    border: 2px solid gray;
  }
  h1 {
      Color: teal;
      font-family: Impact, Charcoal, sans-serif;
  }